$heading-font-family: 'Josefin Sans', sans-serif;
$heading-alt-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$navigation-font-family: 'Roboto', sans-serif;

$font-size-desktop: 15px;
$font-size-mobile: 15px;
$line-height: 22px;

$color-brand: #0F4375;
$color-brand-dark: #1F3C64;
$color-accent: #E7BF79;
$color-accent-light: #FCCF72;
$color-accent-dark: #D4AF60;

$color-bright: #ffffff;

$color-dark: #1B1B1B;
$color-dark-light: #292929;

$color-off-white: #F8F8F8;
$color-light: #FAF9FC;
$color-gray: #B1B1B1;
$color-light-gray: #ECEBE8;

$color-highlight: $color-accent;
$color-cta: $color-accent;
$color-cta-dark: #393939;
$color-danger: #8b0000;
$color-cream: #FFEDA4;

$color-body-bg: $color-bright;
$color-body-text: #40404B;
$color-heading: $color-brand;
$color-alt-heading: $color-brand;
$color-link: $color-accent;
$color-navigation: $color-dark;

$border-radius: 3px;

//$icons: sprite-map("icons/*.png"); // contains icons/new.png among others.
