@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vi1ncq');
  src:  url('fonts/icomoon.eot?vi1ncq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vi1ncq') format('truetype'),
    url('fonts/icomoon.woff?vi1ncq') format('woff'),
    url('fonts/icomoon.svg?vi1ncq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mean-stack .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-mean-stack .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mean-stack .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mean-stack .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mean-stack .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mean-stack .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-mean-stack .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-associate-dev:before {
  content: "\e900";
}
.icon-certifications:before {
  content: "\e901";
}
.icon-faculty-dev:before {
  content: "\e902";
}
.icon-fresher-training:before {
  content: "\e903";
}
.icon-fresh-talent-acq:before {
  content: "\e904";
}
.icon-java:before {
  content: "\e905";
}
.icon-leadership-dev:before {
  content: "\e906";
}
.icon-dot-net:before {
  content: "\e90d";
}
.icon-placement-prep:before {
  content: "\e90e";
}
.icon-professional-talent-acq:before {
  content: "\e90f";
}
.icon-re-skilling:before {
  content: "\e910";
}
.icon-elite .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
}
.icon-elite .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-elite .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-elite .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-elite .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-elite .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-elite .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tech-workshops:before {
  content: "\e918";
}
.icon-testing:before {
  content: "\e919";
}
